{% extends 'base.html' %}

{% block content %}
    <div class="right">
<form action="{% url 'user:registration' %}"
      method="post"
      enctype="multipart/form-data"
      class="pure-form pure-form-stacked"
>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="создать" class="form-control btn-primary">
    </form>
    </div>
{% endblock %}